@model IdentityServer.Models.OrganizationalUnit

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>OrganizationalUnit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Parent" class="control-label"></label>
                <select asp-for="@Model.ParentID" asp-items="@ViewBag.AvailableParents">
                    <option value="">None</option>
                </select>
                <span asp-validation-for="@Model.ParentID" class="text-danger"></span>
            </div>
            <label asp-for="ResourceTypeId" class="control-label"></label>
            @Html.DisplayFor(x => x.ResourceTypeId)
            <input type="hidden" asp-for="ResourceTypeId" class="form-control-static"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
