@model Viking.Identity.Server.WebManagement.Models.UserViewModels.EditUserRolesViewModel
 
@using (Html.BeginForm("Edit", "UserRoles", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div hidden="hidden">
        @Html.EditorForModel()
        @Html.EditorFor(model => model.Username)
    </div>

    <td>
        @Html.DisplayFor(model => model.Username)
    </td>

    @foreach (var role in Model.AvailableRoles)
    {
        <td> 
            @Html.CheckBox(@role.Id, Model.Roles.Contains(role.Id), new { @disabled = "disabled" })
        </td>
    }
} 