@model IEnumerable<Viking.Identity.Models.ApplicationRole>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roles</h2>

@if (this.User.IsInRole(Special.Roles.Admin))
{
    <p>There is no benefit to adding additional roles without also recompiling the web services code to provide the roles meaning.  Similarly, renaming an existing role is almost certain to break something.</p>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NormalizedName)
            </th>
            @if (this.User.IsInRole(Special.Roles.Admin))
            {
                <th>

                    @Html.DisplayNameFor(model => model.ConcurrencyStamp)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormalizedName)
                </td>
                @if (this.User.IsInRole(Special.Roles.Admin))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
                    </td>
                }
                <td>
                    @if (this.User.IsInRole(Special.Roles.Admin))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (this.User.IsInRole(Special.Roles.Admin))
                    {
                        @Html.Raw("|")
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
