@model IEnumerable<Viking.Identity.Models.ResourceTypePermission>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (this.User.IsInRole(Special.Roles.Admin))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResourceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ResourceType.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td> 
                <td>
                    @if (this.User.IsInRole(Special.Roles.Admin))
                    {
                        @Html.ActionLink("Edit", "Edit", item)<text> | </text>
                        @Html.ActionLink("Details", "Details", item)<text> | </text>
                        @Html.ActionLink("Delete", "Delete", item)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
