@model IList<IdentityServer.Models.GrantedUserPermission>

@{
    ViewData["Title"] = "Permissions Granted to Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Groups</h2>
<p>Users can be associated with any number of the groups listed below.  The meaning of group membership is arbitrary.  The description for a group should indicate its purpose.</p>
 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].PermissionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].UserId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GroupBy(m => m.PermissionId).OrderBy(m => m.Key))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                <ul class="no-bullets">
                    @for (var i = 0; i < item.Count(); i++)
                    {
                    <li>
                        <!--<partial name="~/Views/Shared/_Checkbox_StringKey.cshtml" for="Model[i]" />-->
                    </li>
                        //                    @Html.Partial("~/Views/Shared/UserSelectedList.cshtml", Model.UserList)
                    }
                </ul>
            </td>
            <!--
            <td>
                <a asp-action="Delete" asp-route-id="@item">Delete</a>
            </td>
            -->
        </tr>
        }
    </tbody>
</table>
