@model IEnumerable<Viking.Identity.Models.Volume>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (this.User.IsInRole(Special.Roles.Admin))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endpoint)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.Parent != null)
                    {
                        @Html.DisplayFor(modelItem => item.Parent.Name)
                    }
                </td>
                <td>
                    <a href="@item.Endpoint">@Html.DisplayFor(modelItem => item.Endpoint)</a>
                </td>
                <td>
                    @if ((await AuthorizationService.IsParentOrgUnitAdminAsync(User, item)))
                    {
                        <a asp-action="Edit" asp-controller="GrantedPermissions" asp-route-id="@item.Id">Permissions</a><text> | </text>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <text> | </text>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
